*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 5%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform: scale(1.1);
}
span{
    color: orangered;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a{
    display: block;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover{
    color: orangered;
    border-bottom: 3px solid orangered;
}
.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 7em;
    padding: 30px  5%;
    flex-wrap: wrap;
}
.home-content{
    padding-top: 60px;
    color: white;
    max-width: 600px;
}
.home-content h3{
    font-size: 22px;
    color: white;
}
.home-content h1{
    font-size: 50px;
    color: white;
    line-height: 1.2;
}
.home-content p{
    font-size: 16px;
    color: azure;
    width: 100%;
    margin: 25px 0 30px;
    word-spacing: 1px;
    line-height: 1.6;
}

.header div{
    display: flex;
    gap: 20px;
}

.home-content p b{
    color: orangered;
}

.home-img{
    position: relative;
    display: inline;
}

.home-img::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 15px;
    background: orangered;
    filter: blur(10px);
    pointer-events: none;
    z-index: 2;
}
.home-img img{
    display: block;
    padding-top: 50px;
    padding-bottom: 0;
    width: 500px;
    transform: scaleX(-1);
    z-index: 1;
    border-bottom: 7px solid orangered;
}

.btn-box{
    width: 100%;
    display: flex;
    gap: 1.5em;
}

.btn-2 button:hover,
.btn-1 button{
    background: transparent;
    border: 2px solid orangered;
    color: orangered;
    padding: 13px 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    transform: all 0.3s ease;
}

.btn-1 button:hover,
.btn-2 button{
    border:  2px solid transparent;
    padding: 13px 25px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: white;
    background-color: orangered;
    box-shadow: 0 0 5px orangered;
    transform: all 0.3s ease;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: orangered;
}

::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width: 50px;
}


.about{
    background: rgb(241, 241, 241);
    padding: 100px 5% 50px 5%;
    min-height: 100vh;
    text-align: center;
    position: relative;
    justify-content: space-around;
}

.heading{
    text-align: center;
    color: black;
    font-size: 36px;
    padding-bottom: 20px;
}


.sticky-nav-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sticky-nav-toggle:hover{
    color: orangered;
}

.about-content h3{
    font-size: 62px;
    color: black;
}

.about-content p{
    color: black;
    font-size: 18px;
}

.about-content a{
    text-align: center;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.circle1 {
  position: absolute;
  height: 200px;
  width: 200px;
  border: solid 30px orangered;
  border-radius: 50%;
  opacity: 0.3;
  bottom: 50px;
  right: 50px;
}

.circle2 {
  position: absolute;
  height: 200px;
  width: 200px;
  border: dashed 30px orangered;
  border-radius: 50%;
  transform: translate(300px, 20px);
  opacity: 0.3;
  bottom: -50px;
  left: 50px;
}

.circle3 {
  position: absolute;
  height: 200px;
  width: 200px;
  border: solid 30px orangered;
  opacity: 0.3;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}

.circle4 {
  position: absolute;
  height: 200px;
  width: 200px;
  border: dashed 30px orangered;
  border-radius: 50%;
  transform: translate(300px, 20px);
  opacity: 0.3;
  top: -50px;
  left: 500px;
}

#services {
  width: 100%;
  min-height: 100vh;
  padding: 100px 5% 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
}

.title {
  color: white;
  font-size: 36px;
  padding-bottom: 20px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orangered;
  box-shadow: 5px 5px 8px orangered;
  border-radius: 10px;
  transition: transform 0.3s ease;
  position: relative;
  padding: 40px;
  overflow: hidden;
  height: 350px;
  width: 385px;
}

.card:hover{
    transform: translateY(-5px);
}

.card-img{
    width: 100%;
    height: 180px;
    padding-bottom: 10px;
}

.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card h3 {
  color: white;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
  padding-top: 20px;
  letter-spacing: 1px;
}

.card p {
  font-weight: 400;
  font-size: 15px;
  color: #f5f5f5;
  margin-top: 5px;
  line-height: 1;
}

.contact-form{
    background: #f5f5f5;
    padding: 80px 5% 50px;
}

.contact-form h2{
    text-align: center;
    margin-bottom: 1em;
    font-size: 36px;
    color: black;
}

.contact-form h3{
   margin-top: 0;
   font-weight: 900;
   text-align: center;
}
.contact-form form{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.contact-form form .input-box{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    border: 2px solid black;
    color: black;
    background: rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}
.contact-form form textarea{
   border-width: 2px;
}

.btn-3{
    background: rgb(241, 241, 241);
    border: 2px solid black;
    color: black;
    padding: 13px 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius: .8rem;
    transform: 0.3s ease;
}

.btn-3:hover{
    background-color: orangered;
    border: 2px solid orangered;
    color: white;
    box-shadow: 0 0 10px orangered;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a{
    font-size: 30px;
    color: white;
    padding-top: 5px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    border: 1px solid transparent;
    transition: 0.3s ease;
}

.social a:hover{
    background-color: white;
    border: 1px solid white;
}

.social .linkedin:hover,
.social .facebook:hover {
    color: blue;
}

.social .twitter:hover{
    color: #1da1f2;
}

.social .instagram:hover {
   color: #E4405F;
}

.social .tiktok:hover{
    color: black;
}

.social .whatsapp:hover{
    color: green;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;

}
@media (max-width: 768px) {
   .header{
      position: fixed;
      background-color: black;
      padding: 25px 5%;
      font-size: 30px;
      width: 100%;
   }

   .navbar {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.3s ease;
  }
  
  .navbar.mobile-active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  .navbar ul {
    flex-direction: column;
    align-items: start;
  }
  
  .navbar li {
    text-align: start;
  }

  .navbar a {
    padding-top: 20px;
  }

  .navbar a:last-child{
    padding-bottom: 20px;
  }
  .navbar a:hover{
    border-bottom: 3px solid transparent;
  }

  .sticky-nav-toggle {
    display: block;
  }
   
   .home{
    height: 100vh;
   }

   .home-img{
    display: none;
   }

   .about-content div{
    display: none;
   }

   .contact{
    padding: 10px 15px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.3s ease;
   }

   .input-box{
    flex-direction: column;
   }
   .input-box{
    width: 100%;
   }

   #services{
    height: 230vh;
   }

   #services h1{
    padding: 5px;
   }
   .cards{
    display: block;
    gap: 10px;
    flex-direction: row;
   }

   .card{
    margin-bottom: 50px;
   }/*
   .about {
        text-align: center;
   }

   .about-content a{
    justify-content: center;
    width: 100%;
    margin-top: 2em;
   }
   .about-content p{
    font-size: 15px;
}
   .about-content h2{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
   }
.contact-form form{
    max-width: 49em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box input,
.contact-form form textarea{
    width: 80%;
    padding: 1em;
    font-size: 19px;
    border-radius: .9rem;
}
.contact-form form textarea{
   border-width: 2px;
}
*/
.grid{
   margin-left: 15px;
   width: 98%;
}
   .project-card{
      padding: o;
   }

}

main {
  padding: 2rem 0;
}

.grid {
  margin-left: 15px;
  display: grid;
  width: 95%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 1rem;
  transition: transform 0.3s;
}

.project-card img {
  max-width: 95%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.project-card h3 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem;
}

.project-card p {
  font-size: 1rem;
  color: #666;
}

.project-card:hover {
  transform: translateY(-5px);
}
.foo{
  text-align: center;
  padding: 1rem 0;
  background-color: black;
  color: white;
}

.foo a {
  color: orangered;
  text-decoration: none;
}

.foo a:hover {
  text-decoration: underline;
}
